<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Time Logger</title>
    </head>
    <body>
      <h1>Time Logger</h1>
        <% if(result !== null){ %>
          <% if(isEnd === true){ %>
            <form action="/mainPage" method="post">
              <input placeholder="やることを入力" name="doing_thing" type="text"></input>
              <button type="submit">はじめる！</button>
            </form>
            <% for(var i = 0; i < result.length; i++){ %>
              <div>
                <%= result[i].title %>
                <%= result[i].long %>分
              </div>
            <% } %>
          <% } else { %>
            実行中...... : <%= result[0].title %>
            <form action="/mainPage/end" method="post">
              <button type="submit">おわった</button>
            </form>
            <% for(var i = 1; i < result.length; i++){ %>
              <div>
                <%= result[i].title %>
                <%= result[i].long %>分
              </div>
            <% } %>
          <% } %>
        <% } else { %><!-- 初期状態の時　いい感じに上とまとめられる if が思いつかない -->
          <form action="/mainPage" method="post">
            <input placeholder="やることを入力" name="doing_thing" type="text"></input>
            <button type="submit">はじめる！</button>
          </form>
        <% } %>
        <!-- <% if(result !== null){ %>
          <% for(var i = 2; i < result.length; i++){ %>
            <div>
              <%= result[i].title %>
            </div>
          <% } %>
        <% } %> -->
    </body>
    <script>
    window.onload = function () {


    }
    </script>
  </html>
